!!!
%html
  %head
    %title Canopy
    = stylesheets
  %body
    .header
      %h1
        = link 'Canopy', '/'
        %span
          A PEG parser compiler for JavaScript
    
    .main
      .navigation
        %ul
          %li
            = link 'Introduction'
        %ul
          %li
            = link 'Grammar syntax', '/grammars.html'
          %li
            = link 'Matching strings', '/strings.html'
          %li
            = link 'Character classes', '/chars.html'
          %li
            = link 'Optional nodes', '/maybe.html'
          %li
            = link 'Repeated nodes', '/repetition.html'
          %li
            = link 'Sequences', '/sequences.html'
          %li
            = link 'Lookaheads', '/lookaheads.html'
          %li
            = link 'Ordered choices', '/choices.html'
          %li
            = link 'Cross-references', '/references.html'
          %li
            = link 'Extending nodes', '/types.html'
      
      .content
        =yield
    
    .footer
      :textile
        Copyright &copy; 2010&ndash;2012 "James Coglan":http://jcoglan.com. Released under
        the MIT license.
